{% extends "_base.html" %}

{% block app_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
{% endblock %}

{% block app_content %}

<div id="title"><h1>Центр семейной стоматологии
    <img src="../../static/stylesheets/img/логотип.png" alt="" width="30" height="24"
         class="d-inline-block align-text-top"></h1>

</div>
<div id="content">
    <h2>О компании</h2>
    <div class="text">
        <p>Кинотеатр "Центр семейной стоматологии" рад приветствовать Вас на нашем сайте! </p>
        <p>Также мы занимаемся: удалением зубного камня, бюгельным протезированием,
            люминирами, временными протезами, отбеливанием зубов ZOOM, удалением зубов, реставрацией зубов,
            записью к врачу в детскую стоматологию, доступными ценами, записью в зубной кабинет.
        </p>
        <p>ООО Центр семейной стоматологии занимается: приемом врача стоматолога, лечением зубов, чисткой Air Flow,
            лечением стоматита у взрослых, коронками на зубы, лечением зубов по невысоким ценам, лечением в ортодонт
            центре,
            вы можете узнать сколько стоит поставить брекеты, также у нас можно вставить зубы по невысокой цене</p>
        <p>Адрес: 614002, Пермь, Николая Островского, 76 - 1 этаж
            Телефон: +7 (342) 216-61-62</p>
    </div>
</div>
<div id="sections">
    <ul>
        <li><a href="products">Информация</a>
        <li><a href="partners">Отзывы</a>
        <li><a href="{{ url_for('main.appointment') }}">Запись</a>
        <li><a href="photo">Фотогалерея</a>
    </ul>
    <form id="search" action="search/" method="get">
        <p>Поиск по сайту
        <p><input type="text">
            <button type="submit">Искать</button>
    </form>
</div>
<div id="contacts">
    <h2>Контакты</h2>
    <div class="text">
        <br>ООО "Центр семейной стоматологии"
        <br>Адрес офиса: 614002, Пермь, Николая Островского, 76
        <br>Телефон:+7 (342) 216-61-62,
        <br>s5647.stomtlog.ru

    </div>

    <img src="../../static/stylesheets/img/поп.png" alt="" width="300" height="220"
         class="d-inline-block align-text-top">
</div>

</div>
<img src="../../static/stylesheets/img/к1.jpg" alt="" width="350" height="220" class="d-inline-block align-text-top">


<div id="meta">
    <p>Сайт изготовлен центр семейной стоматологии, &copy; 2015
</div>

{% endblock %}